<div class="menu-container">
  <div class="language"></div>
  <div class="menu">
    <div {{#ifEquals active 'home'}}class="active"{{/ifEquals}}>
      <a href="{{link "me.html"}}">{{#lang "de"}}Home{{else}}Старт{{/lang}}</a>
    </div><div {{#ifEquals active 'trips'}}class="active"{{/ifEquals}}>
      <a href="{{link "trips.html"}}">{{#lang "de"}}Routes{{else}}Маршрути{{/lang}}</a>
    </div><div {{#ifEquals active 'travel'}}class="active"{{/ifEquals}}>
      <a href="{{link "travel.html"}}">{{#lang "de"}}Reisen{{else}}Туризм{{/lang}}</a>
    </div>
  </div>
  <div class="language">
    {{#ifEquals lang "uk"}}{{>flag language="de"}}{{/ifEquals}}
    {{#ifEquals lang "de"}}{{>flag language="uk"}}{{/ifEquals}}

  </div>
</div>
