<div class="route-core-data">
  {{#ifOr3 details.draft details.map details.gpx}}
  <p>
    {{#ifEquals details.draft "true"}}{{> draft}}
    {{/ifEquals}}{{#if details.map}}<a href="{{details.map}}" target="_blank">{{#lang "de"}}Karte{{else}}Карта{{/lang}}</a>&nbsp;{{/if}}
    {{#if details.gpx}}
    <a href="../gps/{{details.gpx}}.gpx" target="_blank">{{#lang "de"}}GPX Datei{{else}}GPX файл{{/lang}}</a>
    <button type="button" onclick="navigator.clipboard.writeText(window.location.origin + '/gps/{{details.gpx}}.gpx')">{{#lang "de"}}Copy Link{{else}}Скопіювати{{/lang}}</button>
    {{/if}}
  </p>
  {{/ifOr3}}
  {{#each details.maps}}
  <p>
    {{title}}
    <a href="{{map}}" target="_blank">{{#lang "de"}}Karte{{else}}Карта{{/lang}}</a>&nbsp;
    {{#if gpx}}
    <a href="../gps/{{gpx}}.gpx" target="_blank">{{#lang "de"}}GPX Datei{{else}}GPX файл{{/lang}}</a>
    <button type="button" onclick="navigator.clipboard.writeText(window.location.origin + '/gps/{{gpx}}.gpx')">{{#lang "de"}}Copy Link{{else}}Скопіювати{{/lang}}</button>
    {{/if}}
  </p>
  {{/each}}
  {{#if details.calimoto}}<a href="{{details.calimoto}}" target="_blank">{{#lang "de"}}Calimoto route{{else}}Маршрут Calimoto{{/lang}}</a>
  {{/if}}{{#if details.kurviger}}<a href="{{details.kurviger}}" target="_blank">{{#lang "de"}}Kurviger route{{else}}Маршрут Kurviger{{/lang}}</a>
  {{/if}}{{#if details.length}}<p>{{#lang "de"}}Strecke{{else}}Довжина{{/lang}}: <b>{{translate details.length}}</b></p>
  {{/if}}{{#if details.drivetime}}<p>{{#lang "de"}}Fahrtzeit{{else}}Час їзди{{/lang}}: <b>{{translate details.drivetime}}</b></p>
  {{/if}}{{#if details.complexity}}<p>{{#lang "de"}}Schwierigkeit{{else}}Складність{{/lang}}: <b>{{translate details.complexity}}</b></p>{{/if}}
</div>
