<div class="route-card">
  <h3><a href="trip/{{trip.page}}">{{trip.name}}</a>
    {{#ifEquals trip.draft "true"}}
    {{> draft}}
    {{/ifEquals}}
  </h3>
  <p>{{trip.text}}</p>
  <div class="route-meta">
    {{#if this.length}}<span>{{translate this.length}}</span>{{/if}}
    <span>⏱ {{translate this.drivetime}}</span>
  </div>
</div>
