{{> doctype}}
<html lang="de">
{{> header}}
{{setVar "start" "Donnerstag"}}
<body>
  <h1>{{#lang "de"}}Schloss Neuschwanstein mit Auto und Motorrad{{else}}Замок Нойшванштайн з машиною і мотоциклом{{/lang}}</h1>
  {{> menu active='trips'}}
  <div class="page-content">
    <div class="content">

      {{> draft}}
      <p>
        {{#lang "de"}}Entwurf, zum Planen.{{else}}Приблизний план.{{/lang}}
      </p>
      {{> trip-details
        details=(json '{
          "map": "",
          "kurviger": "",
          "length": "",
          "drivetime": "",
          "complexity": ""
        }')
      }}
      <p class="route-map">
      </p>

      <p>
        {{#lang "de"}}Plan{{else}}План{{/lang}}:<ul>
          <li><a href="#t1">Tag 1: Wien - München</a></li>
          <li><a href="#t2">Tag 2: Neuschwanstein</a></li>
          <li><a href="#t3">Tag 3: Gebirge zum München</a></li>
          <li><a href="#t4">Tag 4: Zurück nach Wien</a></li>
        </ul> 
      </p>
      

      <h3 id="t1">Tag 1: Wien - München</h3>
      <div class="dates-hint under-h3">{{start}}</div>
      {{> trip-details
        details=(json '{ 
          "kurviger": "https://kurv.gr/ckarH",
          "map": "https://maps.app.goo.gl/jUZHV1xTKCgqAh56A",
          "length": "450 km",
          "drivetime": "7 Stunden"
        }')
      }}
      <p class="route-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d85048.72695941749!2d13.026758492749005!3d48.23025092231492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m5!1s0x476d06f6a9a48b3b%3A0x2cd0bab263e7514b!2sDanube%20Tower%2C%20Donauturmplatz%201%2C%201220%20Wien%2C%20Austria!3m2!1d48.2403397!2d16.4100505!4m3!3m2!1d48.274915!2d11.580700199999999!5e0!3m2!1sen!2suk!4v1774077818090!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>

      <p>
        Auto (M) fährt via Autobahn (4.5 Stunden), Motorrad (P) teilweise ohne Autobahn etwas länger.
        Man kann über Autobahn etwas abkürzen.
      </p>


      <h3 id="t2">Tag 2: Neuschwanstein</h3>
      <div class="dates-hint under-h3">{{addDays start 1}}</div>
      {{> trip-details
        details=(json '{ 
          "kurviger": "",
          "map": "https://maps.app.goo.gl/GU7RTSZZtctjqgpb7",
          "length": "140 km",
          "drivetime": "2 Stunden"
        }')
      }}
      <p class="route-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d170701.82125650806!2d11.400201277352268!3d48.048167893262416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x479e71b56804dedb%3A0x41d25a40937a470!2sUnterschlei%C3%9Fheim%2C%2085716%2C%20Germany!3m2!1d48.284119999999994!2d11.5672!4m5!1s0x479cf7cac44ea35d%3A0xc8a6866bd39dbba3!2sNeuschwanstein%20Castle%2C%20Neuschwansteinstra%C3%9Fe%2020%2C%2087645%20Schwangau%2C%20Germany!3m2!1d47.557573999999995!2d10.7498004!5e0!3m2!1sen!2suk!4v1774115273087!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>

      <p>
        Zuerst fahren wir zusammen ins Neuschwanstein, weniger als 2 Stunden fahrt.
        Ein bisschen Autobahn, dann Landstrassen, gut für Auto (P) und Motorrad (M).
      </p>
      <p>
        Wanderung <b>Neuschwanstein</b> wird 2-3 Stunden dauern.
        Mit Kaffee natürlich.
      </p>

      <p>
        Dann fahren Auto (P) und Motorrad (M) ins Innsbruck (weniger als 2 Stunden, https://maps.app.goo.gl/6LRoCB97gLAHgNop7).
        Alternativ vielleicht über Garmisch - schwierig zu sagen, wo für die Passagiere besser ist.
      </p>
      <p class="route-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m32!1m12!1m3!1d173204.2414251521!2d11.026230470129022!3d47.288618701639464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m17!3e0!4m5!1s0x479cf7cac44ea35d%3A0xc8a6866bd39dbba3!2sNeuschwanstein%20Castle%2C%20Neuschwansteinstra%C3%9Fe%2020%2C%2087645%20Schwangau%2C%20Germany!3m2!1d47.557573999999995!2d10.7498004!4m5!1s0x479ce369cbac23a5%3A0x461f21c1bad479e7!2sParkplatz%20Restaurant%20Zugspitzblick%2C%206633%20Biberwier%2C%20Austria!3m2!1d47.361470499999996!2d10.8437007!4m3!3m2!1d47.155681699999995!2d11.3584999!5e0!3m2!1sen!2suk!4v1774116397608!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>

      <h3 id="t3">Tag 3: Deutscher Eck</h3>
      <div class="dates-hint under-h3">{{addDays start 2}}</div>
      {{> trip-details
        details=(json '{ 
          "kurviger": "",
          "map": "https://maps.app.goo.gl/q7Js7muKmozfrvSFA",
          "length": "200 km",
          "drivetime": "3 Stunden"
        }')
      }}
      <p class="route-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m46!1m12!1m3!1d343671.1837395955!2d11.808934929264938!3d47.70517473257908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m31!3e0!4m3!3m2!1d47.1680158!2d11.3763702!4m3!3m2!1d47.6621897!2d12.3885866!4m3!3m2!1d47.6860284!2d12.560401899999999!4m5!1s0x4776f1ebbdeca7a7%3A0x41d25a40937b7d0!2sRamsau%20bei%20Berchtesgaden%2C%2083486%2C%20Germany!3m2!1d47.6057005!2d12.9105875!4m5!1s0x4776eae9b2c2b099%3A0x1d619ba7442ad414!2sRossfeld%20Panorama%20Strasse%2C%20Ro%C3%9Ffeldstra%C3%9Fe%2C%2083471%20Eck%2C%20Germany!3m2!1d47.6267652!2d13.092201999999999!4m5!1s0x4776937b00bc70b5%3A0x41d25a40937b7b0!2sMarktschellenberg%2C%2083487%2C%20Germany!3m2!1d47.6959328!2d13.045059199999999!5e0!3m2!1sen!2suk!4v1774117533125!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      </p>
      <p>
        Wir beginnen mit dem Ausflug zum Stubaier Gletscher.
        Es ist 30 Minuten fahrt, ein bisschen kurvig aber soll passen.
      </p>

      <p>
        Dann zum Kufstein zusammen via Autobahn (Motorrad P, Auto M).
      </p>

      <p>
        In Kufstein trennen und Fahrerwechsel - Auto (P) nach München über Autobahnen 93 und 8, Motorrad (M) zum Rossfeld Panoramastraße.
      </p>

      <h3 id="t4">Tag 4: Zurück nach Wien</h3>
      <div class="dates-hint under-h3">{{addDays start 3}}</div>
      {{> trip-details
        details=(json '{ 
          "kurviger": "",
          "map": "https://maps.app.goo.gl/oMwT9j1L2DUfNjVi7",
          "length": "450 km",
          "drivetime": "7 Stunden"
        }')
      }}

      <p>
        Treffen in Mondsee: Auto (P) fährt in 2 Stunden von München, Motorrad (M) eine Stunde.
      </p>
      <p class="route-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m52!1m12!1m3!1d85863.85018807951!2d13.091493883833811!3d47.73789471911662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m37!3e0!4m5!1s0x4776937b00bc70b5%3A0x41d25a40937b7b0!2sMarktschellenberg%2C%2083487%2C%20Germany!3m2!1d47.6959328!2d13.045059199999999!4m3!3m2!1d47.6850727!2d13.0608335!4m3!3m2!1d47.6759616!2d13.0770822!4m3!3m2!1d47.676721699999995!2d13.0828957!4m3!3m2!1d47.7325357!2d13.1519082!4m3!3m2!1d47.792148!2d13.2868952!4m3!3m2!1d47.809721499999995!2d13.2910313!4m5!1s0x4776a404f5ab74bb%3A0xda2b40393a49f69c!2sSeepromenade%20Mondsee%2C%20Seebadstra%C3%9Fe%203%2C%205310%20Mondsee%2C%20Austria!3m2!1d47.8521035!2d13.3529751!5e0!3m2!1sen!2suk!4v1774117778093!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>

      <p>
        Dann Fahrerwechsel, es bleibt fast 3 Stunden für Auto (M) und etwa 4.5 für Motorrad (P).
      </p>

      <p class="route-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m55!1m12!1m3!1d683757.9424625646!2d13.74963303583537!3d47.9764221279934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m40!3e0!4m5!1s0x4776a404f5ab74bb%3A0xda2b40393a49f69c!2sSeepromenade%20Mondsee%2C%20Seebadstra%C3%9Fe%203%2C%205310%20Mondsee%2C%20Austria!3m2!1d47.8521035!2d13.3529751!4m5!1s0x4776ad3d1517c86f%3A0x51fec089a6694d2b!2sPfaffenberg%2C%204820%2C%20Austria!3m2!1d47.77702!2d13.60599!4m4!2s47.910902%2C13.786476!3m2!1d47.910934399999995!2d13.7864685!4m3!3m2!1d47.9581844!2d14.007500199999999!4m5!1s0x4773c5e1a55c2cf3%3A0x503d37d0a44aea6c!2sSteyr%2C%20Austria!3m2!1d48.0498889!2d14.4195581!4m5!1s0x477289a08881d10d%3A0x7d7ee111d3ab2cb!2sSpitz%2C%203620%2C%20Austria!3m2!1d48.362618499999996!2d15.414996599999998!4m5!1s0x476d06f6a9a48b3b%3A0x2cd0bab263e7514b!2sDanube%20Tower%2C%20Donauturmplatz%201%2C%201220%20Wien%2C%20Austria!3m2!1d48.2403397!2d16.4100505!5e0!3m2!1sen!2suk!4v1774118360515!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>

    </div>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>
