{{> doctype}}
<html lang="de">
{{> header}}
{{setVar "start" "Freitag"}}
<body>
  <h1>Durch Österreich 2</h1>
  {{> menu active='trips'}}
  <div class="page-content">

    <div class="content">
      <p>
        <b>Eine Reise durch das ganze Land in 3 Tagen</b>
      </p>

      {{> trip-details
        details=global.listings.oesterreich2
      }}
      <details>
        <summary>Google map</summary>
        <p class="route-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m73!1m12!1m3!1d2759970.199887005!2d10.37172938351198!3d47.50387184236213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m58!3e0!4m5!1s0x479b39b11ef7d1e9%3A0x88d808d3a42795c3!2s%C3%96sterreichische%20Bundesbahnen%20Autoreisezug!3m2!1d47.2403723!2d9.60397!4m5!1s0x479b0d620e6982ef%3A0xbf6aa7993530ff24!2sBregenz!3m2!1d47.5017509!2d9.745354599999999!4m5!1s0x479ca692c31d2329%3A0x8ac52ded630e79ae!2sLech%20am%20Arlberg!3m2!1d47.207658599999995!2d10.1407701!4m4!1s0x478329f4bdeefd0f%3A0x575d0513548066a8!3m2!1d46.864289899999996!2d10.7139206!4m5!1s0x479d6ecfe1f8ca73%3A0x9d201c7d281d9b0d!2sInnsbruck!3m2!1d47.2675322!2d11.3910349!4m3!3m2!1d47.0726312!2d12.755812899999999!4m5!1s0x4770eaeabddccb39%3A0x60652fe17ace5ba1!2sInnerkrems%2C%20Austria!3m2!1d46.968579999999996!2d13.725999999999999!4m5!1s0x4771a3b274d65f77%3A0x716ecee1be710020!2sHohentauern%2C%20Austria!3m2!1d47.4335843!2d14.4842765!4m5!1s0x477206cc830dcfc1%3A0x56b9a90ae2ace698!2sMariazell%2C%208630!3m2!1d47.7702441!2d15.314876499999999!4m5!1s0x476d06f6a9a48b3b%3A0x2cd0bab263e7514b!2sDanube%20Tower!3m2!1d48.2403397!2d16.4100505!5e0!3m2!1sen!2sat!4v1758639285534!5m2!1sen!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>
        <p>
          Diese Karte ist für die Fahrt nicht optimal nutzbar – Google erlaubt nicht genügend Wegpunkte und ist daher nicht präzise genug.
        </p>
      </details>

      {{> oeamtc-strassen}}

      <p>
        Plan:<ul>
          <li>{{start}} Abend: Zug nach Feldkirch.</li>
          <li>{{addDays start 1}}: Vorarlberg und Tirol bis Innsbruck.</li>
          <li>{{addDays start 2}}: Innsbruck bis Grossglockner.</li>
          <li>{{addDays start 3}}: Nockalmstrasse und Weg nach Wien.</li>
        </ul> 
      </p>

      <details>
        <summary>Wetter</summary>
        <p>
          <a href="https://at.wetter.com/wetter_aktuell/wettervorhersage/7_tagesvorhersage/oesterreich/bregenz/ATAT30083.html">Bregenz</a><br/>
          <a href="https://at.wetter.com/wetter_aktuell/wettervorhersage/7_tagesvorhersage/oesterreich/innsbruck/ATAT30256.html">Innsbruck</a><br/>
          <a href="https://at.wetter.com/oesterreich/heiligenblut-am-grossglockner/ATAT20165.html">Grossglockner (Heiligenblut)</a><br/>
          <a href="https://at.wetter.com/wetter_aktuell/wettervorhersage/7_tagesvorhersage/oesterreich/turracherhoehe/AT11592956.html">Nockalmstrasse (Turracher Höhe)</a><br/>
        </p>
      </details>

      <h3>Auto-reisezug Wien-Feldkirch</h3>
      <div class="dates-hint under-h3">{{start}} 21:00 - {{addDays start 1}} 8:00</div>

      {{> trip-details
        details=(json '{
          "map": "https://maps.app.goo.gl/9ZrPh8t9XUnstSLE8",
          "kurviger": "https://kurv.gr/aVEWP",
          "length": "Kurz",
          "drivetime": "bis zum Bahnhof"
        }')
      }}
      <details class="details-map">
        <summary>Karte: Route zum Bahnhof</summary>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1330.266805911904!2d16.39032740237685!3d48.17706939023787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da9bba78c93df%3A0x92e4605fa482205!2sAutoverladestelle%20Wien%20Hauptbahnhof!5e0!3m2!1sen!2sat!4v1718897390854!5m2!1sen!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </details>

      {{> arz-feldkirch}}

      <h3>Tag 1: Feldkirch - Bregenz - Kaunertal - Innsbruck</h3>
      <div class="dates-hint under-h3">{{addDays start 1}}</div>
      {{> trip-details
        details=(json '{
          "map": "https://maps.app.goo.gl/9WsAqoNpvcV6e2z77",
          "kurviger": "https://kurv.gr/qKefC",
          "length": "400 km",
          "drivetime": "9 Stunden"
        }')
      }}

      <details class="details-map">
        <summary>Karte: Feldkirch - Innsbruck</summary>
        <iframe src="https://www.google.com/maps/embed?pb=!1m64!1m12!1m3!1d694125.9756341118!2d9.816986597386121!3d47.18860361440593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m49!3e0!4m5!1s0x479b39b11ef7d1e9%3A0x88d808d3a42795c3!2s%C3%96sterreichische%20Bundesbahnen%20Autoreisezug!3m2!1d47.2403723!2d9.60397!4m3!3m2!1d47.272915399999995!2d9.5362152!4m3!3m2!1d47.2841324!2d9.5923461!4m3!3m2!1d47.3425753!2d9.604205199999999!4m3!3m2!1d47.5038105!2d9.7372597!4m3!3m2!1d47.5089057!2d9.8658982!4m5!1s0x479ca163890b837b%3A0xdb4e266d9ed7fb22!2sWarth%2C%206767!3m2!1d47.2586744!2d10.1829362!4m3!3m2!1d46.8638279!2d10.7135952!4m5!1s0x479d228aa1d831b5%3A0xf07339a6e5b4d5ff!2zS8O8aHRhaQ!3m2!1d47.2137396!2d11.023472199999999!4m5!1s0x479d46c6f4f8f699%3A0xe4ef5d8793231a6!2sNeustift%20im%20Stubaital!3m2!1d47.1090461!2d11.3052459!5e0!3m2!1sen!2sat!4v1758641850529!5m2!1sen!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </details>

      <p>
        Kleiner <b>Frühstück</b> bekommt man in Zug, deshalb nach <b>Ausladen von Motorräder</b> (um etwa 9 Uhr) kann man gleich fahren.
      </p>
      <p>
        Zuerst nach Westlichster Punkt von Österreich, er ist nur 15 Minuten entfehrnt, wäre schade es zu verpassen.
        Da kann man kurz ins Liechtenstein oder Schweiz spazieren.
      </p>
      <img src="..\images\routes\oesterreich\dreilandereck.jpg" alt="Dreiländereck, Brücke zu Schweiz" class="route-image"/>
      <p>
        Dann in etwas mehr als eine Stunde erreicht man Bregenz.
        Dort kann man am See spazieren, oder auch zweites <b>Frühstück</b> essen.
        Oder einfach gutes Kaffee trinken.
      </p>
      <img src="..\images\routes\oesterreich\krumbach.jpg" alt="Krumbach in Vorarlberg" class="route-image"/>
      <p>
        In nur 10 Minuten erreicht man schönes Fotopint mit Aussicht auf Bodensee und Bregenz.
        Dann es geht Richtung Lech, mit 2 Stunden schöner Bergstrassen.
        Dann geht es über nicht weniger schöne Strassen weiter.
        Am Arlbergpass kann man Souvenirs kaufen oder was essen und trinken.
      </p>
      <img src="..\images\routes\oesterreich\arlbergpass.jpg" alt="Arlbergpass" class="route-image"/>
      <p>
        Von dort erreicht man in einundhalb Stunden Piller Höhe.
        Da empfehle ich <b>Mittagessen</b> in Naturparthaus Kaunertal.
        Oder direkt in Kaunertal fahren um beim Gletcher Mittagessen zu essen - aber man muss Öffnungszeiten beachten.
      </p>
      <img src="..\images\routes\oesterreich\pillerstrasse.jpg" alt="Piller Strasse mit schöner Kurven" class="route-image"/>
      <p>
        Kaunertaler Gletcherstrasse ist ziemlich interessant, kostet 18 EUR pro Motorrad.
        Die Berge sind impossant, die Aussichte super, aber die Strasse ist manchmal in schlechter Zustand.
      </p>
      <img src="..\images\routes\oesterreich\kaunertal.jpg" alt="Der Blick ins Kaunertal von der Gletcher" class="route-image"/>
      <p>
        Dann fährt man zurück via Naturparthaus Kaunertal.
        Mir ist die Straße sehr gut gefallen, ich habe deshalb zweimal gefahren.
        Aber für essen wird es wohl zu spät sein.
      </p>
      <p>
        Weiter geht ziemlich gute Straße ins Ötztal.
        Da hat man die Möglichkeit etwas schneller via Autobahn zu fahren oder schöne Bergstrasse zum Kühtai zu nehmen.
        Die Strasse ist nicht schwer, aber Kühtai selbst liegt auf 2000 m Seehöhe, das ist Überraschend eine der höchsten Stellen auf dieser Route.
        Und als der man erreicht Kühtai schon am Abend, es kann etwas kalt sein.
      </p>
      <p>
        Dann auf jedem Fall weiter nach Innsbruck.
        Ich habe einen gemütlichen Hotel in Neustift im Stubaital gefunden, aber da gibt es viele Möglichkeiten.
      </p>



      <h3>Tag 2: Innsbruck - Gerlos - Grossglockner</h3>
      <div class="dates-hint under-h3">{{addDays start 2}}</div>
      {{> trip-details
        details=(json '{
          "map": "https://maps.app.goo.gl/JUdbMK9BeZzCsD4t9",
          "kurviger": "https://kurv.gr/8CEnH",
          "length": "250 km",
          "drivetime": "5 Stunden"
        }')
      }}

      <details class="details-map">
        <summary>Karte: Innsbruck - Grossglockner</summary>
        <iframe src="https://www.google.com/maps/embed?pb=!1m60!1m12!1m3!1d5438.683040620304!2d12.849242215546711!3d47.033528904930435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m45!3e0!4m5!1s0x479d46c6f4f8f699%3A0xe4ef5d8793231a6!2sNeustift%20im%20Stubaital%2C%206167!3m2!1d47.1090461!2d11.3052459!4m5!1s0x479d365a69fdd3c1%3A0x9176b121e61611ed!2sStubaier%20Gletscher%20Parkplatz%20A!3m2!1d47.0119985!2d11.1563299!4m3!3m2!1d47.2517096!2d11.9021934!4m5!1s0x4777c6c17e00b5f9%3A0x708481e42c87a486!2sSeest%C3%BCberl!3m2!1d47.2386371!2d12.0841876!4m3!3m2!1d47.2137451!2d12.1670467!4m5!1s0x47771683220442c3%3A0x4a8e60932b34020e!2sEdelwei%C3%9Fspitze!3m2!1d47.1238554!2d12.830798!4m5!1s0x4777134369d3ab51%3A0xddc69ef27adadf94!2sFranz%20Josef%20H%C3%B6he!3m2!1d47.0666667!2d12.75!4m5!1s0x47776aa85f2c6a37%3A0xe14e78e564f87825!2sLandgasthof%20Hotel%20Sonnblick!3m2!1d47.0313556!2d12.8501215!5e0!3m2!1sen!2sat!4v1758644641751!5m2!1sen!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </details>
      <p>
        Von Hotel habe ich zuerst zum Stubaier Gletcher gefahren.
        Seilbahn ist mit Stubai Gästekard (die ich in Hotel bekommen habe) ist frei, also bin ich für Kaffe und schöner Aussicht hochgefahren.
      </p>
      <img src="..\images\routes\oesterreich\stubai.jpg" alt="Kaffe in Dresdnerhütte am Stubaier Gletscher" class="route-image"/>
      <p>
        Dann habe ich in Richtung Innsbruck unter Europabrücke gefahren, ist sehr beeindruckend.
      </p>
      <img src="..\images\routes\oesterreich\europabruecke.jpg" alt="Europabrücke von unten" class="route-image"/>
      <p>
        Als an dieser Tag Gerlos und Grossglockner geplant sind, ist es Zeit, die Karte beim ÖAMTC zu kaufen.
        Deshalb habe ich Standort in Wattens als nächstes Punkt gewählt.
        Wohngebiete sind nicht zu interessant, ich habe über die Autobahn bis Wattens gefahren.
      </p>
      <p>
        Dann habe ich die kleinere Straßen genommen, um ein bischen Autobahn zu vermeiden.
        War schön, aber nichts besonderes, kann man auch auslassen und direkt A12 bis zum Wiesing nehmen.
      </p>
      <p>
        Und dann kommen wir ins Zillertal.
        Die straße ist schön und gemütlichen.
        Man muss rechtzeitig an Tanken denken, weiter gibt es keine Tankstellen beim Gerlos.
      </p>
      <p>
        Ich empfehle <b>Mittagessen</b> in Seestüberl beim Stausee Gerlos.
        Mit der Motorrad darf man direkt bis zum Restaurant fahren.
        Da kann man auch rund um die Stausee spazieren.
      </p>
      <p>
        Gerloser Straße bis Krimml ist sehr schön und gemütlich.
        Ich habe Motorrad-Parkplatz bei Krimmler Wasserwelt als Routenpunkt.
        Viel Zeit habe ich da für Wanderung nicht, aber ein Paar Minuten für Fotos schaden nicht. 
      </p>
      <p>
        Weiter geht es via Mittersill in der Richtung Grossglocknerstraße.
        In cirka 1 Stunde via Landstraße erreicht man die Mautstelle.
      </p>
      <img src="..\images\routes\oesterreich\ggstrasse.jpg" alt="Grossglocknerstraße von Edelweiß-Hütte" class="route-image"/>
      <p>
        Grossglocknerstraße ist wahre Vergnügen, die Aussichte sind fantastisch.
        Da kann man späte <b>Mittagessen</b> in Edelweiß-Hütte geniessen, oder auch bei Franz Josef Höhe.
        Franz Josef Höhe ist auch unbedingt einen Besuch wert, die Straße ist toll und Pasterze ist (noch) schön zu bestaunen.
      </p>
      <img src="..\images\routes\oesterreich\pasterze.jpg" alt="Pasterze Blick von Franz Josef Höhe" class="route-image"/>
      <p>
        Ich habe dann zurück fast zum Mautstelle Fusch gefahren, um zweimal diese Straße zu geniessen.
      </p>
      <p>
        Wenn das Wetter mitspielt und es keine Wolken gibt, würde ich an der Franz Josef Höhe übernachten.
        Der Nachthimmel ist fantastisch.
        In meinem Fall der Himmel war bewölkt, deshalb habe ich deutlich günstiger und vielleicht auch komfortabler in Heiligenblut übernachtet.
      </p>



      <h3>Tag 3: Nockalmstrasse und weg nach Wien</h3>
      <div class="dates-hint under-h3">{{addDays start 3}}</div>
      {{> trip-details
        details=(json '{
          "map": "https://maps.app.goo.gl/P7P1jnctL5wyNAXV6",
          "kurviger": "https://kurv.gr/NXYFG",
          "length": "520 km",
          "drivetime": "8.5 Stunden"
        }')
      }}

      <p class="route-map">
      </p>
      <details class="details-map">
        <summary>Karte: Grossglockner - Wien</summary>
        <iframe src="https://www.google.com/maps/embed?pb=!1m68!1m12!1m3!1d68350.80152196332!2d16.303099180146248!3d48.18311990115452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m53!3e0!4m5!1s0x4777134369d3ab51%3A0xddc69ef27adadf94!2sFranz%20Josef%20H%C3%B6he!3m2!1d47.0666667!2d12.75!4m5!1s0x47708af83c010f23%3A0xfad2e6f89108fadd!2sGlockenh%C3%BCtte%20-%20%20Nockalmstrasse!3m2!1d46.890183699999994!2d13.794322!4m5!1s0x477060d01880f973%3A0x331eb85f1639b76a!2sKleingl%C3%B6dnitz!3m2!1d46.849883899999995!2d14.1389482!4m5!1s0x47705600d3d924c7%3A0x36675881aa5485c!2sMurau!3m2!1d47.11304!2d14.169039999999999!4m5!1s0x4771ceb42b30363d%3A0x7798d905e0e60c3b!2sRed%20Bull%20Ring%2C%20Red%20Bull%20Ring%20Stra%C3%9Fe%2C%20Spielberg!3m2!1d47.219668399999996!2d14.765113099999999!4m5!1s0x477206cc830dcfc1%3A0x56b9a90ae2ace698!2sMariazell!3m2!1d47.7702441!2d15.314876499999999!4m5!1s0x476dedf8c6b7cc93%3A0x74c68036daf49dc3!2sKalte%20Kuchl!3m2!1d47.88765!2d15.6821!4m3!3m2!1d48.2005176!2d16.2423199!4m5!1s0x476d06f6a9a48b3b%3A0x2cd0bab263e7514b!2sDonauturm%2C%20Donauturmplatz%2C%20Vienna!3m2!1d48.2403397!2d16.4100505!5e0!3m2!1sen!2sat!4v1759082618628!5m2!1sen!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </details>

      <p>
        Das ist bislang mein längster Mototag. 
        Ist zu lang, und lässt kein Zeit für Sehenswürdigkeiten, aber wenn man in Wien wohnt, macht es auch kein sinn kurz vor dem Haus zu Übernachten.
      </p>
      <p>
        Von Heiligenblut via Mölltal erreicht man in eine Stunde Spittal.
        Da oder kurz davor kann man <b>Frühstück</b> essen (wenn noch nicht in Hotel gegessen) oder zumindest Kaffee trinken.
      </p>
      <p>
        Dann habe ich Autoban nach Gmünd genommen, um Zeit zu sparen.
        Weiter geht zum <b>Nockalmstraße</b>.
        Ich habe die noch nie trocken gefahren.
        Aber auch nass ist sie für mich die beste Motorradstraße.
        Sie ist mit weniger scharfen kurven in Vergleich zu Grossglocknerstraße, aber uch lang und mit viel weniger Vehrkehr.
        Und die Landschaft und Aussichten sind spektakulär.
      </p>
      <img src="..\images\routes\oesterreich\nockalm.jpg" alt="Eisentalhöhe am Nockalmstraße" class="route-image"/>
      <p>
        Weiter habe ich kleine Bergstraßen zum Hochrindl und Deutsch Griffen gefahren.
        Sie sind interessant, aber Asphalt ist nicht so gut.
        Hoffentlich wird mal repariert.
      </p>
      <p>
        Restaurant in Glödnitz kann ich für <b>Mittagessen</b> empfehlen.
        War ziemlich leer und ruhig, das Essen war sehr gut.
      </p>
      <p>
        Dann geht weiter zu Murau via ziemlich gute Bergstrassen.
        Und dann Schnellstraße und Autobahn zum Red Bull Ring.
        Der Ring vernpasse ih fast nie.
      </p>
      <p>
        Weiter in die Richtung Mariazell empfehle ich via St.Marein etwas schneller zu fahren.
        Wenn man Zeit hat, Kapfenberg und Thörl sind vielleicht etwas interessanter.
      </p>
      <p>
        Ab Mariazell geht es quasi "Standartroute" via Kernhof und Kalte Kuchl.
        Um Zeit zu sparen, habe ich via Klamm und Innermanzing auf A1 Autobahn gefahren.
        Der kommt dann direkt ins Wien, nach Hause.
      </p>

    </div>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>
