{{> doctype}}
<html lang="de">
{{> header}}
{{setVar "start" "Freitag"}}
<body>
  <h1>{{#lang "de"}}Plitvicer Seen{{else}}Плітвіцькі Озера{{/lang}}</h1>
  {{> menu active='trips'}}
  <div class="page-content">
    <div class="content">

      {{> draft}}
      <p>
        {{#lang "de"}}Entwurf, zum Planen.{{else}}Приблизний план.{{/lang}}
      </p>
      {{> trip-details
        details=(json '{
          "map": "",
          "kurviger": "https://kurv.gr/JRthq",
          "length": "1400 km",
          "drivetime": "18 Stunden"
        }')
      }}

      <p></p>
      <p>
        {{#lang "de"}}Plan{{else}}План{{/lang}}:<ul>
          <li><a href="#t1">{{#lang "de"}}Tag 1: Wien - Zagreb{{else}}{{/lang}}</a></li>
          <li><a href="#t2">{{#lang "de"}}Tag 2: Plitvicer Seen{{else}}{{/lang}}</a></li>
        </ul> 
      </p>
      
      <h3>Wichtiges</h3>
        Geschwindigkeit in Kroatien: 
        <ul>
          <li>Ortsgebiet: 50 km/h.</li>
          <li>Außerorts: 90 km/h.</li>
          <li>Schnellstraße: 110 km/h.</li>
          <li>Autobahn: 130 km/h.</li>
        </ul>
        Autobahnen bezahlt man gleich am Schranken.
      </p>

      <h3 id="t1">Tag 1: Wien - Zagreb</h3>
      <div class="dates-hint under-h3">{{addDays start 0}}</div>
      {{> trip-details
        details=(json '{
          "map": "https://maps.app.goo.gl/dLJFWoa1zsPgdS9M8",
          "kurviger": "https://kurv.gr/647tZ",
          "length": "342 km",
          "drivetime": "5 Stunden"
        }')
      }}
      <p class="route-map">
      </p>
      <p>
        Zuerst fahren wir 150 km auf Autobahn.
        Wir beginnen in Wien (Zone 80), dann gemütlich bis 100 km/h, also dauert etwas weniger als 2 Stunden.
      </p>
      <p>
        Dann ist es 45 km (45 Minuten) bis zum Straden.
        Diese Stadt war in 2023 als Schönste Stadt Steiermarks gewählt.
        Da können wir <b>Mittagessen</b> und kurz spazieren.
      </p>
      <p>
        Weiter nach Ptui fahren wir 56 km auf schöne Landstraßen.
        Es soll etwa eine Stunde dauern.
      </p>
      <p>
        Am erster Tag habe ich 
        Ich will unsere Reiseziel (Plitvice Seen) in der Früh zu erreichen, um möglichst viel Zeit für spazieren zu lassen.
        Deshalb wäre es gut am erster Tag etwas mehr km zu machen.
        Idealerweise erreichen wir schon Zagreb.
        Es wäre dann weiter 88 km auf Autobahn, was in eine Stunde gemütlich machbar sein sollte.
      </p>
      <p>
        Ich habe irgendwelcher Hotel neben dem Ring-Autobahn gefunden , aber wir können auch etwas zentraler ins Zagreb fahren.
      </p>

      <h3 id="t2">Tag 2: Plitvicer Seen</h3>
      <div class="dates-hint under-h3">{{addDays start 1}}</div>
      {{> trip-details
        details=(json '{
          "map": "https://maps.app.goo.gl/HT13jvu6fWsvwaMz9",
          "kurviger": "",
          "length": "",
          "drivetime": ""
        }')
      }}
      <p class="route-map">
      </p>
      <p>
        Von dem Hotel bis Plitvicer Seen sind nur 128 km, davon 42 auf Autobahn. fahren wir 150 km auf Autobahn.
        Das soll etwa 2 Stunden dauern.
      </p>
      <p>
        Es wäre gut, die Seen bis 10 AM zu erreichen, um genug Zeit für <b>Spaziergang</b> zu haben.
      </p>
      <p>
        Der Park ist bis 19 Uhr geöffnet, und ich rechne mit, wor bleiben bis zum Ende.
        Deshalb plane ich jetzt den Hotel in der nähe - maximal 1 Stunde entfernt.
        Wir können uns aber erlauben, gleich am Plitvicer Seen zu übernachten, das ändert nicht wirklich viel.
      </p>

      
    </div>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>