{{> doctype}}
<html lang="{{this.lang}}">
{{> header}}
<body>
  <h1>{{#lang "de"}}Südtirol ab Feldkirch{{else}}Зюдтіроль (Від автопоїзда Фельдкірха){{/lang}}</h1>
  {{> menu active='trips'}}
  <div class="page-content">
    <div class="content">

      {{> draft}}
      <p>
        {{#lang "de"}}Entwurf, zum Planen.{{else}}Приблизний план.{{/lang}}
      </p>
      {{> trip-details
        details=(json '{
          "map": "ф",
          "kurviger": "",
          "length": "",
          "drivetime": "",
          "complexity": "Mittel"
        }')
      }}
      <p>
        <b><i>{{#lang "de"}}
        Manche Bergpässe sind im Winter geschlossen, und Google vermeidet gesperrte Routen.
        Wenn du die Karte im Winter ansiehst, kann sie daher völlig verrückt sein.
        Kurviger zeigt das deutlich besser.{{else}}
        Деякі перевали влітку зачинені, а Google Maps уникає дороги, які зачинені на момент перегляду карти.
        Тому якщо ти дивишся ці карти взимку, вони будуть заплутані.
        Карти Kurviger показують правильно.{{/lang}}</i></b>
      </p>
      <p class="route-image">
      </p>

      <p>
        {{#lang "de"}}Plan{{else}}План{{/lang}}:<ul>
          <li><a href="#n1">{{#lang "de"}}{{else}}{{/lang}}Nacht 1: Zug nach Feldkirch</a></li>
          <li><a href="#t1">Tag 1: </a></li>
          <li><a href="#t2">Tag 2: </a></li>
          <li><a href="#t3">Tag 3: </a></li>
          <li><a href="#t4">Tag 4: </a></li>
          <li>Nacht 5: Zug nach Wien</li>
        </ul> 
      </p>
      
      <h3>Wichtiges</h3>
      <p>
        <a href="https://www.nightjet.com/de/angebote/automotorrad/in-oesterreich">Fahrplan von ÖBB Reisezug.</a>
      </p>
      <p>
        <a href="https://via.admin.ch/shop/config/evignette">e-Vignette.</a>
      </p>
      <p>Stromadapter erforderlich in Schweiz</p>
      <p>
        Geschwindigkeit in Schweiz: 
        <ul>
          <li>Ortsgebiet: 50 km/h.</li>
          <li>Außerorts: 80 km/h.</li>
          <li>Schnellstraße: 100 km/h.</li>
          <li>Autobahn: 120 km/h.</li>
        </ul>
      </p>


      <h3 id="n1">Nacht 1: Auto-reisezug Wien-Feldkirch</h3>
      <div class="dates-hint under-h3">Tag 0: 21:00 - Tag 1 8:00</div>
      {{> trip-details
        details=(json '{
          "map": "https://maps.app.goo.gl/9ZrPh8t9XUnstSLE8",
          "kurviger": "https://kurv.gr/aVEWP",
          "length": "Kurz",
          "drivetime": "bis zum Bahnhof",
          "complexity": "Leicht"
        }')
      }}
      <iframe class="route-image" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1330.266805911904!2d16.39032740237685!3d48.17706939023787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da9bba78c93df%3A0x92e4605fa482205!2sAutoverladestelle%20Wien%20Hauptbahnhof!5e0!3m2!1sen!2sat!4v1718897390854!5m2!1sen!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


      <h3 id="t1">Tag 1: Feldkirch - Luzern</h3>
      <div class="dates-hint under-h3">23.06</div>
      {{> trip-details
        details=(json '{ 
          "kurviger": "",
          "map": "",
          "length": "",
          "drivetime": ""
        }')
      }}
      <p class="route-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m66!1m12!1m3!1d679.5936320009206!2d8.307698462389201!3d47.05250300760725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m51!3e0!4m3!3m2!1d47.2431317!2d9.605628!4m3!3m2!1d47.331634099999995!2d9.4076683!4m5!1s0x479b27bccf5a9c3d%3A0xfbbffd25e34d5750!2sParkplatz%20der%20S%C3%A4ntis-Schwebebahn!3m2!1d47.2569957!2d9.3206431!4m4!2sFischmarktplatz!3m2!1d47.2255125!2d8.8156254!4m3!3m2!1d47.213803999999996!2d8.701043!4m5!1s0x479aaf3b1e0193fd%3A0x92c011601da0c478!2sSeepark%20Parkhaus%20Horgen!3m2!1d47.253996199999996!2d8.6187262!4m5!1s0x479aaaf738cc1aad%3A0x48a3941c23105640!2sParkplatz%20unterer%20Postplatz!3m2!1d47.167761999999996!2d8.5153151!4m3!3m2!1d47.0644825!2d8.523473599999999!4m4!1s0x478fff3ef63f44bb%3A0x9a558e89a7dffca2!3m2!1d47.0816638!2d8.4340873!4m5!1s0x478ffb9f280350ad%3A0xd29dc199d880212a!2sHotel%20Des%20Alpes!3m2!1d47.0521702!2d8.3074126!5e0!3m2!1sen!2sat!4v1738964327429!5m2!1sen!2sat" width="600" height="11450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>

      <p>
        Der Zug kommt in Feldkirch um 7:53 an. Gleich nach dem Abladen fahren wir in die Schweiz, Richtung Appenzell.
        Es dauert etwa 45 Minuten bis Appenzell.
        Dort können wir in der schönen Altstadt frühstücken.
      </p>
      <p>
        Die nächste Destination ist Schwägalp, in etwa 30 Minuten.
        Dort können wir am Säntis-Schwebebahn-Parkplatz parken und ein wenig spazieren.
        Es gibt eine Seilbahn, den Laternliweg, eine Schaukäserei ... also werden wir sicher etwas Passendes mit Säntis-Blick finden.
      </p>
      <p>
        Weiter geht’s zum Zürichsee und über die Rapperswil-Hurden-Brücke (oder vielleicht einen Damm?).
        Neben der Straße gibt es eine alte Holzbrücke.
        Auf jeden Fall soll es malerisch sein.
      </p>
      <p>
        Der nächste Stopp könnte die Halbinsel Au sein.
        Dort gibt es ein schönes Schloss, aber ich bin mir nicht sicher, ob man es besichtigen darf oder ob man überhaupt dorthin fahren kann – und ob es wirklich etwas Interessantes zu sehen gibt.
        Falls nicht, ist gleich daneben der Seepark Horden – perfekt zum Baden.
      </p>
      <p>
        Weiter geht die Fahrt nach Zug und dann entlang des Ostufer des Zugersees.
        Von dort ist es nicht mehr weit bis Luzern, wo wir irgendwo in der Stadt übernachten können.
      </p>

      

    </div>
  </div>

  {{> footer}}
  {{> counter}}
</body>
</html>